body{
background-color: rgba(118,122,153,255);
display: flex;
}
.titleCalc{
    color: white;
}
.teclaNumCalc{
    background-color: rgba(60, 64, 97);
    color: white;
    font-size: 24px;
    width: 50px;
    height: 55px;
    margin: 2px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}
.teclaNumCalc:hover{
    color: rgba(255, 55, 100);
    background-color: rgba(255, 255, 255, 1);
}
.contentCalc{
    position: relative;
    margin: 8rem auto;
    background-color: #242a4d;
    border-radius: 15px;
    width: 250px;
    height: 420px;
    padding: 15px;
    text-align: center;
    border: solid 2px;
    border-color: black
}
#displayCalc{
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 55, 100);
    width: 225px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#teclaclear{
    width: 108px;
}
#teclaigual{
    position: absolute;
    height: 114px;
    margin:  2px 0px 0px 6px;
}
#teclaNum1{
    margin-left: -56px;

}
#teclaNum0{
    margin-left: -56px;

}

